.chart-bar {
  width: 90%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;

  &-budget {
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    transition: width 0.3s ease-in-out;
  }

  &-expenses {
    display: flex;
    height: 100%;
    background-color: rgb(255, 17, 0);
    transition: width 0.8s ease-in-out;

    &-hr {
      height: 100%;
      background-color: rgb(175, 70, 175);
      transition: width 0.8s ease-in-out;
    }
    &-pr {
      height: 100%;
      background-color: rgb(216, 77, 107);
      transition: width 0.8s ease-in-out;
    }
    &-maintance {
      height: 100%;
      background-color: rgb(110, 177, 240);
      transition: width 0.8s ease-in-out;
    }
  }
}
