.projecttile {
    width: 90%;
    border-radius: 15px;
    background: linear-gradient(145deg, #323843, #2a2f39);
    box-shadow: 8px 8px 9px #191c21, -8px -8px 9px #454c5d;
    margin-bottom: 50px;

    p {
        font-size: 2rem;
    }
}